@font-face {
  font-family: 'SacheonUju';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonUju/SacheonUju-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonUju/SacheonUju-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonUju/SacheonUju-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SacheonUju/SacheonUju-Regular.ttf') format('truetype');
}